/* html, */
body{
        background-color: black;
        /* height: auto; */
        overflow-x: hidden;
        max-width: 100%;
        height: auto;
}

nav{
    box-sizing: border-box;
    position: absolute;
    width: 1430px;
    height: 50px;
    left: 50px;
    top: 10px;
    border: 1px solid #B1A592;
    border-radius: 50px;
    /* background: black; */
}

#bcmp{font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 29px;
    color: #DFD6C5;
    position: absolute;
    width: 368px;
    height: 43px;
    left: 2px;
    top: 3px;
    background: #323025; 
    border:1px solid#323025;
    border-radius: 50px;
}

#bcol{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 29px;
color: #DFD6C5;;
box-sizing: border-box;
    position: absolute;
    width: 180px;
    height: 43px;
    left: 372px;
    top: 3px;
    border: 1px solid #B1A592;
    background: black;
    border-radius: 50px;
}

#bmen{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 29px;
color: #DFD6C5;;
    box-sizing: border-box;
    position: absolute;
    width: 180px;
    height: 43px;
    left: 555px;
    top: 3px;
    border: 1px solid #B1A592;
    border-radius: 50px;
    background: black;
}

#bev{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 29px;
color: #DFD6C5;;
    box-sizing: border-box;
    position: absolute;
    width: 150px;
    height: 43px;
    left: 737px;
    top: 3px;
    border: 1px solid #B1A592;
    border-radius: 50px;
    background: black;
}

#bcont{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 29px;
color: #DFD6C5;;
    box-sizing: border-box;
    position: absolute;
    width: 180px;
    height: 43px;
    left: 1245px;
    right: 500px;
    top: 3px;
    border: 1px solid #B1A592;
    border-radius: 50px;
    background: black;
}


#block1  
{
    position: absolute;
width: 480px;
height: 780px;
left: 50px;
top: 72px;
background: #DFD6C5;
border-radius: 30px;
}

#s1p1{
    box-sizing: border-box;
position: absolute;
width: 150px;
height: 25px;
left: 30px;
top: 3px;
border: 1px solid black;
border-radius: 50px;
    position: absolute;
    width: 190px;
    height: 24px;
    left: 30px;
    top: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 19px;
    text-align: center;
    line-height: 24px;
    color: #241717;
}

#s1p2{
    position: absolute;
    width: 400px;
    height: 29px;
    left: 30px;
    top: 60px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 33px;
    line-height: 29px;
    color: #333333;
}

#image1
{
    position: absolute;
    width: 450px;
    height: 520px;
    left: 16px;
    top: 150px;
    background: url(./temple.png);
    border-radius: 20px;
    background-size: 100%;
    transition:1s;
    cursor: zoom-in;
    }
    #image1:hover{
       background-size: 105%;
    }

#dline1{
    position: absolute;
width: 476px;
height: 0px;
left: 0px;
top: 720px;
border: 1px solid grey
}

#s1p3{
    position: absolute;
width: 200px;
height: 29px;
left: 30px;
top: 715px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 29px;
color: #333333;
}

#arrow1{
    box-sizing: border-box;
position: absolute;
width: 20px;
height: 10px;
left: 450PX;
top: 745px;
}


/* block 2 */
#block2{
    position: absolute;
    width: 940px;
    height: 350px;
    left: 540px;
    top: 75px;
    background: #8E886D;
    border-radius: 30px;
}

#b2p1{
    position: absolute;
width: 967px;
height: 350px;
left: 719px;
top: 99px;
background: #8E886D;  
border: 1px solid black;  
box-sizing: border-box;
border-radius: 30px;
    position: absolute;
    width: 130px;
    height: 24px;
    left: 25px;
    top: 35px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    text-align: center;
    font-size: 19px;
    line-height: 24px;
    color: black;
}

#b2p2{
    position: absolute;
    width: 400px;
    height: 29px;
    left: 25px;
    top: 65px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 33px;
    line-height: 30px;
    color: #333333;
}

#b2p3{
    position: absolute;
    width: 382px;
    height: 29px;
    left: 25px;
    top: 125px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: black;
}

#image2{
    position: absolute;
width: 445px;
height: 200px;
left: 420px;
top: 35px;
background: url(./womenwithboy.png);
border-radius: 20px;
background-size: 100%;
transition:1s;
cursor: zoom-in;
}
#image2:hover{
   background-size: 105%;
}

#dline2{
    position: absolute;
width: 939px;
height: 0px;
left: 0px;
top: 275px;
border: 1px solid rgb(103, 101, 101);
}

#b2p4{
    position: absolute;
width: 200px;
height: 29px;
left: 15px;
top: 280px;
font-family: 'Inter';
font-style: normal;
font-weight: 400px;
font-size: 16px;
line-height: 29px;
color: black;
}

#arrow2{
box-sizing: border-box;
position: absolute;
width: 20px;
height: 10px;
left: 870px;
top: 310px;
/* border: 2px solid #323025; */
}


/* block3 */
#block3{
    position: absolute;
width: 480px;
height: 413px;
left: 540px;
top: 440px;
background: #916E58;
border-radius: 30px;
}

#image3{
    position: absolute;
    width: 450px;
    height: 168px;
    left: 15px;
    top: 15px;
    background: url(women.png);
    border-radius: 20px;
    background-size: 100%;
    transition:1s;
    cursor: zoom-in;
    }
    #image3:hover{
       background-size: 105%;
    }

#b3p1{
    position: absolute;
    height: 59px;
    left: 15px;
    top: 150px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 44px;
    color: #241717;
    cursor: pointer;
}
#b3p1::after{
    content: "";
    position: absolute;
    transition:0.3s;
    height: 4px;
    width: 0%;
    left: 0;
    display: block;
    background-color: #333333;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
} 
#b3p1:hover::after{
    content: "";
    height: 4px;
    width: 100%;
    display: block;
    background-color: #333333;
}
#b3p3{
    position: absolute;
    width: 500px;
    height: 216px;
    left: 12px;
    top: 250px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align:left;
    color: #241717;
}

#dline3{
    position: absolute;
    width: 479px;
    height: 0px;
    left: 0px;
    top: 350px;
    border: 1px solid rgb(76, 75, 75);
}

#b3p4{
    position: absolute;
    width: 184px;
    height: 17px;
    left: 15px;
    top: 350px;  
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    color: black;
}

#arrow3{
    box-sizing: border-box;
    position: absolute;
    width: 20px;
    height: 10px;
    left: 450px;
    top: 380px;
}


/* block4 */
#block4{
    position: absolute;
    width: 450px;
    height: 413px;
    left: 1030px;
    top: 440px;   
    background: #B1A48E;
    border-radius: 30px;
}

#b4p1{
    position: absolute;
width: 120px;
height: 24px;
left: 25px;
top: 15px;
font-family: 'Inter';
font-style: normal;
text-align: center;
font-weight: 300;
font-size: 19px;
text-align: center;
line-height: 24px;
color: black;
border: 1px solid black;  
box-sizing: border-box;
border-radius: 30px;
}

#b4p2{
    position: absolute;
width: 304px;
height: 30px;
left: 25px;
top: 70px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 33px;
line-height: 44px;
color: #333333;   
}

#image4{
    position: absolute;
    width: 80px;
    height: 80px;
    top:33px;
    left: 350px;
    background: url(./man.png);
    border-radius: 30000px;   
    background-size: 100%;
    transition:1s;
    cursor: zoom-in;
    }
    #image4:hover{
       background-size: 105%;
    }
#b4p3{
    position: absolute;
    width: 470px;
    height: 12px;
    left: 25px;
    top: 160px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    color: #333333;
}

#dline4{
    position: absolute;
    width: 390px;
    height: 0px;
    left: 25px;
    top: 285px;
    border: 2px solid #333333;
}
#h1{
    position: absolute;
    width: 490px;
    height: 312px;
    left: 25px;
    top: 280px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    text-align: left;
    color: #333333;
}
#h2{
    position: absolute;
    width: 485px;
    height: 312px;
    left: 250px;
    top: 280px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    text-align: left;
    color: #333333;
}
#dline5{
    position: absolute;
    width: 390px;
    height: 0px;
    left: 25px;
    top: 330px;
    border: 2px solid #333333;
}
#dline6{
    position: absolute;
    width: 390px;
    height: 0px;
    left: 25px;
    top: 340px;
    border: 2px solid #333333;
}
#dline7{
    position: absolute;
    width: 449px;
    height: 0px;
    left: 0px;
    top: 350px;
    border: 1px solid rgb(91, 90, 90);
}
#b4p4{
    position: absolute;
    width: 239px;
    height: 17px;
    left: 25px;
    top: 350px;    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    color: black;
}

#arrow4{
    box-sizing: border-box;
position: absolute;
width: 20px;
height: 10px;
left: 400px;
top: 380px;
}
